##
# (c) 2024 - Cloud Ops Works LLC - https://cloudops.works/
#            On GitHub: https://github.com/cloudopsworks
#            Distributed Under Apache v2.0 License
#
# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
# .Mac
**/.DS_Store

# IntelliJ idea
.idea/
*.iml

# Eclipse JDT
.project
.settings/
.classpath
.factorypath

### VS Code ###
.vscode/

### Tronador ###
.tronador
tronador/